<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

    <!-- Breadcrumb -->
    <nav class="container my-3">
        <ol class="breadcrumb mb-1">
            <li class="breadcrumb-item active">Natação</li>
        </ol>
        <span class="badge bg-light text-dark border">
            <img src="https://cdn-icons-png.flaticon.com/512/3514/3514490.png" alt="Carrinho" style="width:16px;height:16px;">
            Envio Nacional
        </span>
    </nav>

    <!-- Produtos -->
    <div class="container my-4">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 text-center d-flex w-100 justify-content-around min-vw-100">

            <div class="col">
                <div class="card h-100 border-0">
                    <img src="~/img//Traje Masc Natacao.png" class="card-img-top tamanho-imagem" alt="Traje Masculino Thunder Wetsuit Arena">
                    <div class="card-body">
                        <p class="mb-1">Traje Masculino Thunder Wetsuit Arena </p>
                        <h6 class="text-danger fw-bold">R$1600,00</h6>
                        <a asp-action="Detalhes" asp-controller="Home">Detalhes</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 border-0">
                    <img src="~/img/Maio branco e preto.png" class="card-img-top tamanho-imagem" alt="Maio Diamond Lightdrop arena">
                    <div class="card-body">
                        <p class="mb-1">Maio Diamond Lightdrop arena</p>
                        <h6 class="text-danger fw-bold">R$227,90</h6>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 border-0">
                    <img src="~/img/Isotermica Fem natacao.png" class="card-img-top tamanho-imagem" alt=" Roupa Isotérmica Feminina ergulho">
                    <div class="card-body">
                        <p class="mb-1">Roupa Isotérmica Feminina Bloco de Cor para Mergulho e Surfe</p>
                        <h6 class="text-danger fw-bold">R$100,00</h6>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 border-0">
                    <img src="~/img/Powerskin natacao.png" class="card-img-top tamanho-imagem" alt="Maiô Powerskin ">
                    <div class="card-body">
                        <p class="mb-1">Maiô Powerskin Impulso Open Back arena</p>
                        <h6 class="text-danger fw-bold">R$340,00</h6>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
